# ==========================================================================
# GITIGNORE
# Autor: Pedro Sanchez Ramirez
# ==========================================================================


# ==========================================================================
# .gitignore para MPLAB X - XC8/C18
# ==========================================================================

**.err

**/build/
**/dist/
**/debug/

**/nbproject/private/

**/*.o
**/*.d
**/*.su
**/*.elf
**/*.hex
**/*.cof
**/*.map
**/*.hxl
**/*.sym
**/*.p1
**/*.pre

# ==========================================================================
# .gitignore para KiCad
# ==========================================================================
# Archivos temporales y respaldos
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
*-cache*
*_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb

# Preferencias locales del usuario
# Guarda ajustes específicos de tu pantalla o sesión
*.kicad_prl

# Archivos de Automatización y Netlists
*.net
*.dsn
*.ses
*.cmp

# Reportes y Archivos de Fabricación
# Descomentar lo que no se desea guardar en el control de versiones.
# *.gbr
# *.drl
# *.rpt
# *.xml
# *.csv
# *.tsv
# fp-info-cache



#----------------------------------------------------------------------
#Algunos proyectos incluyen simulacion en proteus
#asi que ignoramos los siguientes archivos
**.workspace
**.pdsbak
**.pdsprj
#----------------------------------------------------------------------


#----------------------------------------------------------------------
# Ignore list for Eagle, a PCB layout tool

# Backup files.
**.s#?
**.b#?
**.l#?
**.b$?
**.s$?
**.l$?

# Eagle project file.
# It contains a serial number and references to the file structure on your computer.
# comment the following line if you want to have your project file included.
#eagle.epf

# Autorouter files
#*.pro
#*.job

# CAM files
#*.$$$
#*.cmp
#*.ly2
#*.l15
#*.sol
#*.plc
#*.stc
#*.sts
#*.crc
#*.crs

#*.dri
#*.drl
#*.gpi
#*.pls
#*.ger
#*.xln

#*.drd
#*.drd.*

#*.s#*
#*.b#*

#*.info

#*.eps

# file locks introduced since 7.x
#*.lck
#----------------------------------------------------------------------


#----------------------------------------------------------------------
# ignore files from OS
*desktop.ini
.DS_Store
Thumbs.db
#----------------------------------------------------------------------
